@use 'variables';

.container {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  @media only screen and (max-width: variables.$tablet-width) {
    margin-left: 2vw;
    margin-right: 2vw;
  }

  .content {
    width: 50em;

    @media only screen and (max-width: variables.$mid-width) {
      width: unset;
    }
  }
}
