@use 'theme';
@use 'variables';
@use 'mixins';

html,
body {
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;

  color: theme.$fg;
  background-color: theme.$bg;

  padding: 0;

  margin: 0 10vw;
  @media only screen and (max-width: variables.$phone-width) {
    margin: 0;
  }

  a {
    text-decoration: none;
    color: theme.$link;

    &:hover {
      color: theme.$link-hover;
    }
  }

  .container {
    height: 100vh;

    display: grid;
    grid-template-columns: auto;
    grid-template-rows: 2em auto 2em;
    grid-template-areas:
      "header"
      "main"
      "footer";

    .header {
      grid-area: header;
      background-color: theme.$bg-lighter;
      @include mixins.center-content;
    }

    .main {
      grid-area: main;
    }

    .footer {
      grid-area: footer;
      background-color: theme.$bg-lighter;
      @include mixins.center-content;
    }
  }
}
