@use 'theme';
@use 'variables';

@mixin center-content {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin highlight-language($background-color) {
  background-color: $background-color;
  color: theme.$bg;
  padding: 0 0.125em;
}

@mixin mobile-margins {
  @media only screen and (max-width: variables.$tablet-width) {
    margin-left: 2vw;
    margin-right: 2vw;
  }
}

@mixin mid-unset-width {
  @media only screen and (max-width: variables.$mid-width) {
    width: unset;
  }
}
