@use 'mixins';
@use 'theme';
@use 'variables';

.container {
  height: 100%;

  @include mixins.mobile-margins;

  @include mixins.center-content;
  flex-direction: column;

  .portFolioItemsPersonal,
  .portFolioItemsOpenSource,
  .portFolioItemsSchool {
    ul {
      margin-top: -1em;
    }
  }

  .legacyPortfolio {
    margin-bottom: 1em;
  }
}
