@use 'theme';
@use 'mixins';
@use 'variables';

.default {
  @include mixins.highlight-language(theme.$lang-default);
}

.rust {
  @include mixins.highlight-language(theme.$lang-rust);
}

.python {
  @include mixins.highlight-language(theme.$lang-python);
}

.typescript {
  @include mixins.highlight-language(theme.$lang-typescript);
}

.javascript {
  @include mixins.highlight-language(theme.$lang-javascript);
}

.cpp {
  @include mixins.highlight-language(theme.$lang-cpp);
}

.imageContainer {
  display: flex;
  justify-content: center;

  .image {
    max-height: 25vh;
    max-width: 25vw;
    width: auto;

    @include mixins.mobile-margins;

    @media only screen and (max-width: variables.$tablet-width) {
      width: 100%;
      max-height: fit-content;
      max-width: fit-content;
    }
  }
}
