@use 'mixins';
@use 'theme';

.container {
  height: 100%;

  @include mixins.center-content;
  flex-direction: column;

  .portFolioItemsPersonal,
  .portFolioItemsOpenSource,
  .portFolioItemsSchool {
    ul {
      margin-top: -1em;
    }
  }
}
