$fg: #fff;
$bg: #000;
$bg-lighter: #111;
$mid: #ccc;
$link: #2a5399;
$link-hover: #5f868f;
$link-visited: #635e8e;
$lang-default: $mid;
$lang-rust: #dea584;
$lang-python: #3572a5;
$lang-typescript: #2b7489;
$lang-javascript: #f1e05a;
$lang-cpp: #f34b7d;
